*,
*::before,
*::after {
  box-sizing: border-box;
}
  
:root {
  --color-bg: #fdfdfd;
  --color-primary: #9aa092;
  --color-primary-light: #9aa092;
  --color-text-main: #111111;
  --color-text-muted: #555555;
  --color-border: #e5e7eb;
  --color-cta: #ff6b6b;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  
}
button {
  background-color: var(--color-primary);
  color: white;
}
button:hover {
  background-color: var(--color-primary-light);
}